/* html,
body {
  margin: 0;
} */

/* section {
  box-sizing: border-box;
  display: block;
  grid-gap: 4em;
  grid-template-areas:
    "header   header"
    "raw      preview";
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  grid-template-rows: 3em 1fr;
  width: 100vw;
  height: 100vh;
  padding: 1em;
}

form {
  display: grid;
  grid-area: header;
}

pre {
  grid-area: raw;
  overflow: auto;
}

img {
  max-width: 100%;
}

main {
  grid-area: preview;
} */
